/* -----------------------general stuff */

body {
  margin: 0;
  font-family: arial, sans-serif;
}

div {
  border: 0;
  margin: 0;

}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


/* -----------------------/general stuff */


/* -----------------------nav stuff */

div#navbar {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #e4e4e4;
  background-color: #f9f9f9;
  margin-top: -20px;
}

div#navbar #google img{
  position: absolute;
  top: 25px;
  left: 15px;
}


div#navbar #google #lupa img {
  background-color: transparent;
  width: 20px;
  height: 20px;
  left: 715px;
  top: 36px;
}

div#navbar ul {
  list-style-type: none;
}

div#navbar #left li {
  position: relative;
  display: inline;
  left: 120px;
  top: 90px;
  margin-right: 30px;
}

div#navbar a {
  color: #666;
  font-size: 13px;
}

div#navbar a:hover {
  text-decoration: none;
  color: #222;
}

div#navbar #active {
  color: #437fe0;
  font-weight: bold;
  padding: 12px;
  border-bottom: 2px solid #437fe0;
}
/* ------------------------copied stuff*/

div#navbar #right {
  position: relative;
  float: right;
  top: -30px;
}


 #bell:hover {
   background-color: black;
 }


 #cubes {
   line-height: 1px;
   margin-right: 100px;

 }


 #cubes div {
   position: relative;
   display: inline-block;
   background-color: #666;
   width: 4px;
   height: 4px;
   right: 10px;
   margin: 1px;
 }


 #bell {
   background-color: #666;
   border-radius: 50px;
   position: absolute;
   width: 20px;
   height: 20px;
   right: 65px;
   top: 23px;
 }

 #bell img {
   position: relative;
   top: 2px;
   left: 5px;
 }
  #bell:hover {
    background-color: black;
  }

  #prof img {
    position: relative;
    height: 20px;
    top: 25px;
    left: 70px;
  }



/* -------------------------/copied stuff*/
/* -----------------------/nav stuff*/
/* -----------------------shmoogle stuff*/

#search {
  left: 150px;
  top: 25px;
  border: 1px;
  position: absolute;
  width: 600px;
}

#searchbox {
  font-size: 16px;
  border: 1px;
  border-radius: 2px;
  height: 44px;
  width: 600px;
  padding: 0 13px;
  box-shadow: 0 2px 2px 0  rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#search:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}


/* -----------------------/shmoogle stuff */

/* -----------------------results stuff */


div#results {
  left: 150px;
}

div#results p:first-child {
  position: relative;
  font-size: 12px;
  color: #666;
  top: 5px;
  left: 165px;

}

div#results p {
  position: relative;
  left:15px;
  width: 650px;
}

div#vid {
  top: 10px;
  position: relative;
  box-shadow: 0 2px 2px 0  rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border: 1px;
  width: 650px;
  height: 430px;
  left: 150px;
  line-height: 0.2;
  margin-bottom: 40px;
}

div#vid h4 {
  position: relative;
  left: 20px;
  font-weight: 400;
}


div#vid p {
  position: relative;

  color: green;
  left: 20px;
  font-weight: 400;
}


div#vid a {
  font-weight: normal;
  text-decoration: none;
  color: #1a0dab;
}

div#vid a:hover {
  font-weight: normal;
  text-decoration: underline;
}


div#vid img {
  display: block;
  margin: auto;
  margin-bottom: 0;
}

div#vidicon {
  background-color: #000;

}



div.texty {
  position: relative;
  left: 150px;
  width: 650px;
  height: 100px;
}

div.texty h4 {
  position: relative;
  left: 15px;
  color: #1a0dab;
  font-weight: 500;
  line-height: 1;
  margin: 5px;
}

div.texty p {
  font-size: 14px;
  line-height: 1;
  margin: 5px;
}

div.texty p:nth-child(2) {
  color: green;
}

div#recommend {
  height: 200px;
}

div#recommend p {
  position: relative;
  display: inline-block;
  width: 250px;
  left: 170px;
  margin: 10px 20px 0 0;
  font-size: 15px;
  font-weight: 500;
  color: #1a0dab;

}

div#recommend h4 {
  position: relative;
  left: 170px;
  font-weight: normal;
  width: 650px;
}

div#recommend p:first-child {
  display: none;
}


/* -----------------------/results stuff */

/* -----------------------footer stuff */

div#footer {
  position: relative;
  width: 100%;
  height: 40px;
  bottom: 0;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

div#footer ul {
  list-style-type: none;
  margin: 0;
}

div#footer li {
  position: relative;
  display: inline;
  margin: 5px 15px 5px 5px;
  font-size: 13px;
  left: 125px;
  top: 10px;
}

div#footer a {
  color: #666;
}

div#footer a:hover {
  text-decoration: none;
  color: #222;
}
/* -----------------------/footer stuff */
